@import url(../styles/fonts/Roboto/fonts-Roboto.css);

.wrap {
    width: 98.4rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.header {
    height: 6rem;
    margin: 1.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo-main-img > img {
    width: 13rem;
    height: 6rem;
    vertical-align: middle;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
}

.header-menu img{
    width: 2.5rem;
    height: 100%;
}

.header-search-bar {
    width: 35rem;
    height: 4rem;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0.8rem;
    display: inline-block;
    border-radius: 0.6rem;
}

.header-search-bar input {
    color: #3e5463;
    font-size: 1.4rem;
    border: none;
    background: none;
    width: 85%;
    padding: 0 0 0 1rem;
    line-height: 2.5rem;
}

.header-mypage {
    margin: 0.3rem 2rem 0 2rem;
}
.body {
    height:100rem;
    background-color: lightgray;
}
.footer {
    width: 100%;
    height: 36rem;
    background-color: #2A2A2A;
}

.footer-content {
    width: 98.4rem;
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 5rem 2rem;
    color: white;
    font-weight: 300;
}
.footer-content p:not(:first-child):not(:last-child) {
    margin-bottom: 2.2rem;
}
.footer-title {
display: inline-block;
font-family: 'Roboto' , 'Noto Sans KR', 'Spoqa Han Sans Neo' ;
font-style: italic;
font-weight: 600;
font-size: 2rem;
padding-bottom: 0.3rem;
margin-bottom: 1rem;
border-bottom: 0.3rem solid var(--color--green);
}